{% extends "core/base.html" %}
{% load static %}
{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static 'core/img/about.jpg' %}')">
     <div class="container position-relative px-4 px-lg-5">
         <div class="row gx-4 gx-lg-5 justify-content-center">
             <div class="col-md-10 col-lg-8 col-xl-7">
                 <div class="page-heading">
                     <h1>About Philosopea</h1>
                     <span class="subheading">Mostly About Philosophy</span>
                 </div>
             </div>
         </div>
     </div>
 </header>



 
 <!-- Main Content-->
 <main class="mb-4">
     <div class="container px-4 px-lg-5">
         <div class="row gx-4 gx-lg-5 justify-content-center">
             <div class="col-md-10 col-lg-8 col-xl-7">
                <h1 class ="my-4">Welcome to Philosopea</h1>
                 <p>Musings about being, existance and mind, with a splash of morden thinking.</p>
                 <p>Philosopea is a traditional blog that covers various thought provoking topics centering around philosophy but non exlusive to science, technology, psychology and etcetera</p>
                 <p>Unravelling the fabric of thought and disentangling the unknown in a conducive environment and peaceful community of Philosopies.</p>
                 </br>
                <h2>Contact</h2>
                <p><a href="https://twitter.com/PhilosopeaBlog">Twitter</a></p>
                <p><a href="https://www.instagram.com/philosopea.co/">Instagram</a></p>
                <p class = ""><u>philosopea@gmail.com</u></p>
                </br>
                <p>To contribute to Philosopea, <a href="https://ko-fi.com/philosopea">buy a coffe</a></p>
             </div>
         </div>
     </div>
 </main>

{% endblock content %}